# Este archivo se renombra a solo .env, y en el se van a almacenar los datos para 
# la conexión a la base de datos, y la contraseña del usuario a utilizar

DB_USER= #Se pone el usuario a utilizar 
DB_PASSWORD= #Se pone la contraseña del usuario root
DB_NAME= #Se pone el nombre de la base de datos
USER_PASSWORD= #Se pone la contraseña del usuario a utilizar
DB_HOST= #Se pone el host de la base de datos